.card-description{
    max-width: 300px;
    max-height: 500px;
}

.head-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.card-image{
    max-width: 300px;
    height: auto;
}

.custom-buttons{
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.custom-buttons > .contrast
{
    border-radius: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    padding: 5px 8px;
}

.custom-buttons > .info{
    padding: 5px 15px;
}

.custom-buttons >.secondary{
    border-radius: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    padding: 5px 8px;
}

