.card-description{
    max-width: 300px;
    max-height: 500px;
}

.head-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.card-image{
    max-width: 300px;
    height: auto;
}

.custom-buttons{
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.custom-buttons > .contrast
{
    border-radius: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    padding: 5px 8px;
}

.custom-buttons > .info{
    padding: 5px 15px;
}

.custom-buttons >.secondary{
    border-radius: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    padding: 5px 8px;
}


/* test */

.card {
    display: flex; 
    position: relative;
    flex-direction: column; 
    border-radius: 16px  16px 16px 16px;
    width: 272px;
    box-shadow: 2px 7px 13px 0px rgba(0,0,0,0.2);
    overflow: hidden; 
    border-color: #000000;
}
.card-body{
    background-color: #ffffff;
    flex-grow: 1;
    padding: 24px; 
}
.card-title{
    position: relative;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0px; 
    padding: 0px;
}
.card-text{
    line-height: 1.4;
    margin: 10px 0px 0px 0px; 
    font-size: 17px;
    color: #000000;
}

.title-buttons{
    position: absolute;
    top: -10px;
    right: 30px;
}

.title-buttons > .secondary{
    padding: 0px 2px 0px 2px;
    margin: 5px;
    text-align: center;
}

.card-button{
    position:absolute;
    right: 30px;
}

.card-button > .secondary{
    width: 0px;
    height: 0px;
    padding: 0;
}

